<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
        backupGlobals="false"
        bootstrap="./vendor/autoload.php"
        colors="true"
        cacheDirectory=".phpunit.cache">
    <coverage includeUncoveredFiles="true"/>
    <testsuites>
        <testsuite name="Laravel Swagger Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_URL" value="https://example.com"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
